#high-score {
    text-align: left;
    margin-left: 5px;
}

#timer {
    text-align: right;
    margin-right: 5px;
}

.answers {
    align-content: center;
    text-align: left;
    list-style-type: numbered;
    cursor: pointer;
}
